body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{ 
    width: 300px;
    height: 300px;
}

button{
    padding: 15px 18px;
    background-color:   plum;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 12px 0;
}

button:hover{
    text-decoration: underline;
    cursor: pointer;
}